.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 20px 0 20px;
}

.container1 .heading1 {
    width: 50%;
    padding-bottom: 50px;
}

.container1 .heading1 h3 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.container1 .heading1 h3 span {
    font-weight: 100;
}

.container1 .box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container1 .box1 .dream1 {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container1 .box1 .dream1 img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 769px) {
    .container1 .box1 {
        flex-direction: column;
    }

    .container1 .box1 .dream1 {
        width: 100%;
    }

}

@media (max-width: 600px) and (min-width: 300px) {

    /* .container1 .heading1{
  width: 100%;
} */
    .container1 .heading1 .myh1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 769px) {
    .clogoclass {
        max-width: 349px;
        height: auto;
        max-height: 600px;
        overflow: hidden;
    }

}

li:hover .sub_menu {
    display: block;
}

.sub_menu a:hover {
    background-color: #A4A4A4;
}

li:hover, li a:hover {
    background-color: #A4A4A4;
}